<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false" />
        <activity
            android:name=".testsupport.EnforcementTargetActivity"
            android:exported="true"
            android:theme="@style/Theme.Gatekeep" />
        <activity
            android:name=".testsupport.EnforcementTargetActivityB"
            android:exported="true"
            android:theme="@style/Theme.Gatekeep" />
    </application>

</manifest>
